/* Общие */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    margin: 0;
    background-image: url(img/background.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

h1{
    font-size: 21px; 
}


@media (min-width: 700px)
{
    h1{
        font-size: 40px;
    }
}

@media(min-width: 640px)
{
    h1{
        font-size: 26px; 
    }
}

a{
    text-decoration: none;
    color: #8B00FF;
}
/* header */
header{
    display: none;
}

@media(min-width: 540px)
{
    header{
        display: flex;
        height:60px;
        padding-left:3px; 
        background: rgba(38, 37, 37, 0.74);
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media(min-width: 640px)
{
    header{
        display: flex;
        height:100px;
        padding-left:3px; 
        background: rgba(38, 37, 37, 0.74);
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }
}

@media(min-width: 900px)
{
    header{
        display: flex;
        height:100px;
        padding-left:3px; 
        background: rgba(38, 37, 37, 0.74);
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }
}


.about_me, .examples__, .telephone{
    font-size: 15px;
}

@media(min-width: 640px)
{
    .about_me, .examples__, .telephone{
        font-size: 20px;
    }
}

@media( min-width:830px)
{
    .about_me, .examples__, .telephone{
        font-size: 24px;
    }
}

.width_problem{
    width: 100px;
}

.width_problem:last-child{
    width: 200px;
}

.about_me:hover, .examples__:hover, .telephone:hover{
    color: white;
    font-family: 'Dancing Script', cursive;
    border-bottom: violet 1px solid;
}

.link:hover{
    color: white;
    font-family: 'Dancing Script', cursive;
    border-bottom: violet 1px solid;
}



.p_about_me{
    font-size: 11.5px;
}

@media(min-width:460px)
{
    .p_about_me{
        font-size: 15px;
    }
}

@media(min-width:900px)
{
    .p_about_me{
        font-size: 25px;
    }
}
@media(min-width:640px)
{
    .p_about_me{
        font-size: 22px;
    }
}

.mine_img{
    width: 125px;
    height: 125px;
    padding: 20px 15px 0px 5px;
}
@media(min-width:460px)
{
    .mine_img{
        width: 200px;
        height: 200px;
        padding: 20px 15px 0px 5px;
    } 
}
@media(min-width:640px)
{
    .mine_img{
        width: 210px;
        height: 330px;
        margin-top: 10px;
        padding: 20px 15px 10px 5px;
    }
}

.my_life{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.life{
    display: flex;
    background: rgba(138, 123, 123, 0.72);
    height: 220px;
    width: 330px;
    margin: auto;
}

@media(min-width:460px)
{
    .life{
        display: flex;
        background: rgba(138, 123, 123, 0.72);
        height: 320px;
        width: 450px;
        margin: auto;
    }
    
}

@media(min-width:900px)
{
    .life{
        display: flex;
        background: rgba(138, 123, 123, 0.72);
        height: 430px;
        width: 750px;
        margin: auto;
        padding: 10px 15px;
    }
}

@media(min-width:640px)
{
    .life{
        display: flex;
        background: rgba(138, 123, 123, 0.72);
        height: 470px;
        width: 600px;
        margin: auto;
        padding: 10px 15px;
    }
}

.life:hover{
    background: rgba(142, 122, 122, 0.8);
}

.img{
    width: 100px;
    height: 100px;
}

@media(min-width:460px)
{
    .img{
        width: 130px;
        height: 130px;
    }
}

@media(min-width: 640px)
{
    .img{
        width: 175px;
        height: 175px;
    }
}

@media(min-width:900px)
{
    .img{
        width: 225px;
        height: 225px;
    }
}

@media(min-width:1180px)
{
    .img{
        width: 300px;
        height: 300px;
    }
}

.examples{
    width: 100%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.examples_h2{
    text-align: center;
    font-size: 20px;
}

@media(min-width:460px)
{
    .examples_h2{
        text-align: center;
        font-size: 30px;
    }
}

@media(min-width:900px)
{
    .examples_h2{
        text-align: center;
        font-size: 40px;
    }
}

.examples_1{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}

@media(min-width:460px)
{
    .examples_1{
        display: flex;
        justify-content: space-between;
        margin: 90px 30px;
    }
}

@media(min-width:900px)
{
    .examples_1{
        display: flex;
        justify-content: space-between;
        margin: 120px 100px;
    }
}

@media(min-width:1180px)
{
    .examples_1{
        display: flex;
        justify-content: space-between;
        margin: 120px 130px;
    }
}

.examples_2{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}

@media(min-width:460px)
{
    .examples_2{
        display: flex;
        justify-content: space-between;
        margin: 90px 30px;
    }
}

@media(min-width:900px)
{
    .examples_2{
        display: flex;
        justify-content: space-between;
        margin: 120px 100px;
    }
}

@media(min-width:1180px)
{
    .examples_2{
        display: flex;
        justify-content: space-between;
        margin: 120px 130px;
    }
    
}

/* 1. footer */

footer{
    color:white;
    display:flex;
    flex-direction:row;
    background: rgba(38, 37, 37, 0.74);
    justify-content:space-between;
    padding:40px 25px;
}

.links_to_me{
    text-align: center;
}

.mine_links{
    margin-left: 40px;
    display:flex;
    flex-direction:column;
}

.subdiv_mine_links{
    margin:20px;
    display: flex;
    text-align: center;
}

.inst_links, .vk_links, .face_links{
    font-size: 23px;
    margin-left: 5px;
}

.email{
    margin-top: 140px;
}

.email_small{
    margin:0;
}

.email_links{
    font-size: 23px;
}

.made_by{
    margin-top: 180px;
}

.p_made_by, .a_made_by{
    font-size: 23px;
}

.p_made_by{
    width: 150px;
}
.a_made_by:hover{
    color: white;
    font-family: 'Dancing Script', cursive;
    border-bottom: violet 1px solid;
}
